.button {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.searchmatch {
    font-weight: bold;
    font-style: italic;
}

.btnSuppr {
    color: red;
    font-size: 2em;
}

#loader {
    position: relative;
    width: 64px;
    height: 64px;
    display: none;
}

#loader div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #245;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loader div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

#loader div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loader div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loader div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

#conseils p, #conseils ul li {
    font-size:1.2em;
}